<div class="row" >
	<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
		<div class="page-header" >
			<h2 class="pageheader-title" >
                {% if type =='dashboard'%}
                    {% if level == 'index' %}
                        Пульс
                    {% elseif level =='brands' %}
                        Выручка по брендам
                    {% elseif level =='brand' %}
                        Выручка бренда {{ department }}
                    {% elseif level =='departments' %}
                        Выручка по подразделениями
                    {% elseif level =='department' %}
                        Основные показатели {{ department }}
                    {% elseif level =='departments' %}
                    {% endif %}
                {% elseif type == 'marketing' %}
                    {% if level == 'department' %}
                    Информация о продажах {{ department }}
                    {% else  %}
                        Информация о продажах {{ department }}
                    {% endif %}
                {% elseif type == 'waiters' %}
					{% if level == 'all' %}
						Информация по официантам {{ department }}
                	{% elseif level =='one' %}
						Официант {{ product_name }} в {{ department }}
                    {% elseif level =='departments' %}
						Информация по официантам по подразделениям
                    {% elseif level =='brands' %}
						Информация по официантам по брендам
                    {% endif  %}
                {% elseif type == 'product' %}
					{% if level == 'all' %}
						Продажи товаров {{ department }}
                    {% elseif level =='one' %}
						Товар {{ product_name }} в {{ department }}
					{% endif  %}
                {% endif %}
            </h2 >
			<p class="pageheader-text" >Nulla euismod urna eros, sit amet scelerisque torton lectus vel
				mauris facilisis faucibus at enim quis massa lobortis rutrum.</p >
            {% if type !='wait'%}
			<div class="page-breadcrumb" >
				<nav aria-label="breadcrumb" >
					<ol class="breadcrumb" >
						<li class="breadcrumb-item active" aria-current="page" >
							Данные за период
							<input type="text" data-toggle-selected="false" data-range="true" value="{{ date_start }} - {{ date_finish }}"
								   data-multiple-dates-separator=" - "
								   class="datepicker-here"/>
                            {% block linkrefresh  %}

							    <a class="btn btn-default"
							        onclick="refresh_date('?path={{ type }}/{{ level }}&month={% if month == False %}False{% else %}True{% endif %}{% if level =='department'  %}&id_d={{ id_d }}{% elseif level =='brand'  %}&id_b={{ id_b }}{% elseif type =='product' %}{% if id_d %}&id_d={{ id_d }}{% endif %}{% if id_b %}&id_b={{ id_b }}{% endif %}{% if id_p %}&id_p={{ id_p }}{% endif %}{% endif %}')" role="button">Обновить</a>

                            {% endblock  %}
                            <!--01.{% if month == False %}01{% else %}{{ "now"|date("m") }}{% endif %}.{{ "now"|date("Y") }} до {{ "now"|date("d.m.Y") }} включительно-->
							<!--(обновлено в <?=$time_update?>)-->
						</li >
					</ol >
				</nav >
			</div >
            {% endif %}

		</div >

	</div >
</div >
{% if type !='wait'%}
<div class="row">
	<div class="col-xl-2 col-lg-6 col-md-6 col-sm-12 col-12 pb-5" >

		<ul class="nav nav-pills">
			<li role="presentation" {% if month == False %} class="active" {% endif %} ><a href="?path={{ type }}/{{ level }}&month=False{% if level =='department' %}&id_d={{ id_d }}{% elseif level =='brand' %}&id_b={{ id_b }}{% elseif type =='product' %}{% if id_d %}&id_d={{ id_d }}{% endif %}{% if id_b %}&id_b={{ id_b }}{% endif %}{% if id_p %}&id_p={{ id_p }}{% endif %}{% endif %}&date_start={{ "first day of january this year"| date("d.m.Y") }}&date_finish={{ "now"| date("d.m.Y") }}">Год</a></li>
			<li role="presentation" {% if month == TRUE %} class="active" {% endif %} ><a href="?path={{ type }}/{{ level }}&month=True{% if level =='department' %}&id_d={{ id_d }}{% elseif level =='brand' %}&id_b={{ id_b }}{% elseif type =='product' %}{% if id_d %}&id_d={{ id_d }}{% endif %}{% if id_b %}&id_b={{ id_b }}{% endif %}{% if id_p %}&id_p={{ id_p }}{% endif %}{% endif %}&date_start={{ "first day of this month"| date("d.m.Y") }}&date_finish={{ "now"| date("d.m.Y") }}">Месяц</a></li>
		</ul>

	</div>
	<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 pb-5" >

		<ul class="nav nav-pills">
			<!--<li role="presentation" class="{% if level == "index" %}active{% endif %}"><a href="?path={{ type }}/chain&month={% if month == False %}False{% else %}True{% endif %}">Сеть</a></li>-->
            <li role="presentation" class="{% if level == "brands" %}active{% endif %}" ><a href="?path={% if type != 'product' %}{{ type }}{% else %}marketing{% endif %}/brands&month={% if month == False %}False{% else %}True{% endif %}&date_start={{ date_start }}&date_finish={{ date_finish }}">Бренды</a></li>
			<li role="presentation" class="{% if level == "departments" %}active{% endif %}"><a href="?path={{ type }}/departments&month={% if month == False %}False{% else %}True{% endif %}&date_start={{ date_start }}&date_finish={{ date_finish }}">Подразделения</a></li>
		</ul>

	</div>

</div>
{% endif %}