<li class="nav-item " >

    <a class="nav-link active" href="/dash1/public/?path=dashboard/index&month={% if month == False %}False{% else %}True{% endif %}"
       aria-controls="submenu-1" ><i
                class="fa fa-fw fa-user-circle" ></i >Общая информация <span
                class="badge badge-success" >6</span ></a >
</li >
<li class="nav-item " >
    <a class="nav-link active" href="/dash1/public/?path=marketing/index&month={% if month == False %}False{% else %}True{% endif %}"
       aria-controls="submenu-1" ><i
                class="fa fa-fw fa-user-circle" ></i >Маркетинг <span
                class="badge badge-success" >6</span ></a >
</li >