<!doctype html>

<head >
    <!-- Required meta tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" >
    <!-- Bootstrap CSS -->
    <!-- Последняя компиляция и сжатый CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Дополнение к теме -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="/dash/assets/vendor/jquery/jquery-3.3.1.min.js" ></script >
    <!-- Последняя компиляция и сжатый JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <link rel="stylesheet" href="/dash/assets/vendor/bootstrap/css/bootstrap.min.css" >
    <link href="/dash/assets/vendor/fonts/circular-std/style.css" rel="stylesheet" >
    <link rel="stylesheet" href="css/style.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/fonts/fontawesome/css/fontawesome-all.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/charts/chartist-bundle/chartist.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/charts/morris-bundle/morris.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/fonts/material-design-iconic-font/css/materialdesignicons.min.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/charts/c3charts/c3.css" >
    <link rel="stylesheet" href="/dash/assets/vendor/fonts/flag-icon-css/flag-icon.min.css" >
    <title >Общая информация по доставке</title >
</head >

<body >
<!-- ============================================================== -->
<!-- main wrapper -->
<!-- ============================================================== -->
<div class="dashboard-main-wrapper" >
    <!-- ============================================================== -->
    <!-- navbar -->
    <!-- ============================================================== -->

                        {% include 'templates/menu.tmpl' %}

    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper" >
        <div class="dashboard-ecommerce" >
            <div class="container-fluid dashboard-content " >
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->

                {% include 'templates/header2.tmpl' %}

                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget" >

                    Пока здесь пусто. Потому что вам не назначены права на просмотр каких-либо подразделений. Но скоро всё изменится)


                    </div >

                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer" >
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/" >Colorlib</a >.
                    </div >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        <div class="text-md-right footer-links d-none d-sm-block" >
                            <a href="javascript: void(0);" >About</a >
                            <a href="javascript: void(0);" >Support</a >
                            <a href="javascript: void(0);" >Contact Us</a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div >
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div >
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->

<!-- bootstap bundle js -->
<script src="/dash/assets/vendor/bootstrap/js/bootstrap.bundle.js" ></script >
<!-- slimscroll js -->
<script src="/dash/assets/vendor/slimscroll/jquery.slimscroll.js" ></script >
<!-- main js -->
<script src="/dash/assets/libs/js/main-js.js" ></script >
<!-- chart chartist js -->
<script src="/dash/assets/vendor/charts/chartist-bundle/chartist.min.js" ></script >
<!-- sparkline js -->
<script src="/dash/assets/vendor/charts/sparkline/jquery.sparkline.js" ></script >
<!-- morris js -->
<script src="/dash/assets/vendor/charts/morris-bundle/raphael.min.js" ></script >
<script src="/dash/assets/vendor/charts/morris-bundle/morris.js" ></script >
<!-- chart c3 js -->
<script src="/dash/assets/vendor/charts/c3charts/c3.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/d3-5.4.0.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/C3chartjs.js" ></script >
<script src="/dash/assets/libs/js/dashboard-ecommerce.js" ></script >

<script type="application/javascript" >


        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'myfirstchartK',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for one_month in to_json %}
                    {
                        {% for str in one_month %}
                            {% for key, info_year in str %}
                                '{{ key }}':"{{ info_year }}",
                            {% endfor%}
                        {% endfor%}
                    },
                {% endfor%}]
            ,
            lineColors:['#a2b3bf','#5969ff', '#64b764'],
            trendLineColors:['#a2b3bf','#5969ff', '#64b764'],
            // The name of the data record attribute that contains x-values.
            xkey: '{{ separator_name }}',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['2018', '2019'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['2018', '2019'],
            parseTime: false

    })




</script >
</body >

</html >