

<!doctype html>
<html lang="en" >


                        {% include 'templates/menu.tmpl' %}

    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper" >
        <div class="dashboard-ecommerce" >
            <div class="container-fluid dashboard-content " >
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->


                {% include 'templates/header2.tmpl' %}
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget" >

                    <div class="row" >
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <div class="card-body" >
                                    <h5 class="text-muted" >Средний чек на стол</h5 >
                                    <div class="metric-value d-inline-block" >
                                        <h1 class="mb-1" >{{ mean_check }}</h1 >
                                    </div >
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold" >
                                        <!--   <span ><i class="fa fa-fw fa-arrow-up" ></i ></span ><span >5.86%</span >-->
                                    </div >
                                </div >
                                <!-- <div id="sparkline-revenue" ></div >-->
                            </div >
                        </div >
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <div class="card-body" >
                                    <h5 class="text-muted" >Средний чек на гостя</h5 >
                                    <div class="metric-value d-inline-block" >
                                        <h1 class="mb-1" >{{ mean_guest }}</h1 >
                                    </div >
                                    <div class="metric-label d-inline-block float-right text-success font-weight-bold" >
                                        <!--   <span ><i class="fa fa-fw fa-arrow-up" ></i ></span ><span >5.86%</span >-->
                                    </div >
                                </div >
                                <!-- <div id="sparkline-revenue" ></div >-->
                            </div >
                            </div >
                        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <div class="card-body" >
                                    <h5 class="text-muted" >Гостей на чек</h5 >
                                    <div class="metric-value d-inline-block" >
                                        <h1 class="mb-1" >{{ (mean_check/mean_guest)|round(2) }}</h1 >
                                    </div >

                                </div >
                                <!-- <div id="sparkline-revenue" ></div >-->
                            </div >
                        </div >
                    </div >
                    </div>
                    <div class="row" >
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Кухня</h5 >
                                <div class="card-body" >
                                    <div id="kitch" style="height: 400px;" ></div >
                                </div >
                            </div >
                        </div >
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Бар</h5 >
                                <div class="card-body" >
                                    <div id="bar" style="height: 400px;" ></div >
                                </div >
                            </div >
                        </div >
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Бар/кухня</h5 >
                                <div class="card-body" >
                                    <div id="type" style="height: 300px;" ></div >
                                </div >
                            </div >
                        </div >




                    </div >
                    <div class="row" >
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Топ 10 по продажам</h5 >
                                <div class="card-body p-0" >
                                    <div class="table-responsive" >
                                        <table class="table" >
                                            <thead class="bg-light" >
                                            <tr class="border-0" >
                                                <th class="border-0" >#</th >
                                                <th class="border-0" >Блюдо</th >
                                                <th class="border-0" >Количество</th >
                                                <th class="border-0" ><strong>Сумма</strong></th >

                                            </tr >
                                            </thead >
                                            <tbody >
                                            {% for dish_item in top10sum%}
                                                <tr class='link-inline' return false">

                                                    <td > {{ loop.index }}</td >
                                                    <td >
                                                        {{ dish_item.name }}
                                                    </td >

                                                    <td >{{ dish_item.count|number_format(0, ' ', ' ')  }}</td >
                                                    <td >{{ dish_item.sum|number_format(0, ' ', ' ')  }}</td >
                                                    </a>
                                                </tr >
                                            {% endfor %}
                                            <tr >
                                                <td colspan="9" ><a href="#" class="btn btn-outline-light float-right" >View
                                                        Details</a ></td >
                                            </tr >
                                            </tbody >
                                        </table >
                                    </div >
                                </div >
                            </div >
                        </div >

                        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Топ 10 по количеству</h5 >
                                <div class="card-body p-0" >
                                    <div class="table-responsive" >
                                        <table class="table" >
                                            <thead class="bg-light" >
                                            <tr class="border-0" >
                                                <th class="border-0" >#</th >
                                                <th class="border-0" >Блюдо</th >
                                                <th class="border-0" ><strong>Количество</strong></th >
                                                <th class="border-0" >Сумма </th >

                                            </tr >
                                            </thead >
                                            <tbody >
                                            {% for dish_item in top10count%}
                                                <tr class='link-inline' return false">

                                                <td > {{ loop.index }}</td >
                                                <td >
                                                    {{ dish_item.name }}
                                                </td >

                                                <td >{{ dish_item.count|number_format(0, ' ', ' ')  }}</td >
                                                <td >{{ dish_item.sum|number_format(0, ' ', ' ')  }}</td >
                                                </a>
                                                </tr >
                                            {% endfor %}
                                            <tr >
                                                <td colspan="9" ><a href="#" class="btn btn-outline-light float-right" >View
                                                        Details</a ></td >
                                            </tr >
                                            </tbody >
                                        </table >
                                    </div >
                                </div >
                            </div >
                        </div >
                        <div class="col-xl-6 col-lg-12 col-md-6 col-sm-12 col-12" >
                            <div class="card" >
                                <h5 class="card-header" >Топ 10 высокой сс</h5 >
                                <div class="card-body p-0" >
                                    <div class="table-responsive" >
                                        <table class="table" >
                                            <thead class="bg-light" >
                                            <tr class="border-0" >
                                                <th class="border-0" >#</th >
                                                <th class="border-0" >Блюдо</th >
                                                <th class="border-0" ><strong>CC</strong></th >
                                                <th class="border-0" >Валовая сс </th >
                                                <th class="border-0" >Вес сс блюда %</th >

                                            </tr >
                                            </thead >
                                            <tbody >
                                            {% for name, item in top10high_ss %}
                                                <tr class='link-inline' return false">

                                                <td > {{ loop.index }}</td >
                                                <td >
                                                    {{ name }}
                                                </td >

                                                <td data-sort-value="{{ item.ss_per }}">{{ item.ss_per|number_format(2, ',', ' ')  }}</td >
                                                <td data-sort-value="{{ item.val_ss }}">{{ item.val_ss|number_format(2, ' ', ' ') }}</td >
                                                <td data-sort-value="{{ item.val_ss }}">{{ item.ves_ss|number_format(2, ',', ' ') }}</td >

                                                </tr >
                                            {% endfor %}

                                            </tbody >
                                        </table >
                                        <div class="container">
                                        <a href="#" class="btn btn-outline-light float-right mb-3 " >View
                                                Details</a >
                                        </div>
                                    </div >
                                </div >
                            </div >
                        </div >

                    </div >

                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer" >
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/" >Colorlib</a >.
                    </div >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        <div class="text-md-right footer-links d-none d-sm-block" >
                            <a href="javascript: void(0);" >About</a >
                            <a href="javascript: void(0);" >Support</a >
                            <a href="javascript: void(0);" >Contact Us</a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div >
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div >
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->

<script src="/dash/assets/vendor/bootstrap/js/bootstrap.bundle.js" ></script >
<!-- slimscroll js -->
<script src="/dash/assets/vendor/slimscroll/jquery.slimscroll.js" ></script >
<!-- main js -->
<script src="/dash/assets/libs/js/main-js.js" ></script >
<!-- chart chartist js -->
<script src="/dash/assets/vendor/charts/chartist-bundle/chartist.min.js" ></script >
<!-- sparkline js -->
<script src="/dash/assets/vendor/charts/sparkline/jquery.sparkline.js" ></script >
<!-- morris js -->
<script src="/dash/assets/vendor/charts/morris-bundle/raphael.min.js" ></script >
<script src="/dash/assets/vendor/charts/morris-bundle/morris.js" ></script >
<!-- chart c3 js -->
<script src="/dash/assets/vendor/charts/c3charts/c3.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/d3-5.4.0.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/C3chartjs.js" ></script >
<script src="/dash/assets/libs/js/dashboard-ecommerce.js" ></script >

<script type="application/javascript" >
    $(function () {



        var chart = c3.generate({
            bindto: "#bar",
            color: {pattern: ["#5969ff", "#ff407b", "#25d5f2", "#ffc750"]},
            data: {
                // iris data from R
                columns: [

                    {% for key,sum in sum_ar_bar %}
                        ['{{ key }} {{ (sum/(vir_bar/100))|round }}%',{{ sum }}],
                    {% endfor%}
                    ],
                type: 'pie',


            }
        });
        var chart = c3.generate({
            bindto: "#kitch",
            color: {pattern: ["#5969ff", "#ff407b", "#25d5f2", "#ffc750"]},
            data: {
                // iris data from R
                columns: [

                    {% for key,sum in sum_ar_kitch %}
                    ['{{ key }} {{ (sum/(vir_kitch/100))|round }}%',{{ sum }}],
                    {% endfor%}
                ],
                type: 'pie',


            }
        });
        var chart = c3.generate({
            bindto: "#type",
            color: {pattern: ["#5969ff", "#ff407b", "#25d5f2", "#ffc750"]},
            data: {
                // iris data from R
                columns: [


                    ['бар {{ (vir_bar/((vir_bar+vir_kitch)/100))|round(1) }}%',{{ vir_bar }}],
                    ['Кухня {{ (vir_kitch/((vir_bar+vir_kitch)/100))|round(1) }}%',{{ vir_kitch }}],
                ],
                type: 'pie',


            }
        });

    })
    $('table').tablesort();

</script >
</body >

</html >