{% extends '/templates/index.tmpl' %}

{% block title %}

{% endblock %}

                <div class="ecommerce-widget" >
                    <h2 class="pageheader-title" >Приветствую, Дорогой друг!
                    </h2 >
                    Пока здесь пусто. Потому что вам не назначены права на просмотр каких-либо подразделений.
                    <p>Но скоро всё изменится и мы отправимся в увлекательное путеществие автоматизированной аналитики,<br>
                       которая не потребует тратить на это часы и годы жизни)</p>

                    <p>Пока проект работает ещё в тестовом режиме поэтому возможно что-то будет идти не так как запланировано.<br>
                    Но с вашей помощью мы обязательно доведем все до ума.
                    </p>


                    </div >

                </div >
{% endblock %}
