<html>
<head></head>
<body>
<h2>Личный кабинет</h2>

<h4>Пользователь: {{name}}</h4>

<form method="post" action="/mvc/public/?path=auth/logout">
    <div>{{massage}}</div>
    <span>Login: </span>{{login}}
    <span>Password: </span>{{pass}}
    <input type="submit" value="Выйти" />


</form>
5 последних страниц:
<ul>
    {% for url in history %}
    <li>{{ url }}</li>
    {% endfor %}
</ul>

</body>
</html>