<!doctype html>
<html lang="RU/ru" >


    <!-- ============================================================== -->
    <!-- end navbar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- left sidebar -->
    <!-- ============================================================== -->

                        {% include 'templates/menu.tmpl' %}

    <!-- ============================================================== -->
    <!-- end left sidebar -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper" >
        <div class="dashboard-ecommerce" >
            <div class="container-fluid dashboard-content " >
                <div class="row" >
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" >
                        <div class="page-header" >
                            <h2 class="pageheader-title" >
                                Список пользователей
                            </h2 >

                        </div >

                    </div >
                </div >
                <!-- ============================================================== -->
                <div class="ecommerce-widget" >
                    <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                        <!-- ============================================================== -->
                        <!-- card profile -->
                        <!-- ============================================================== -->
                        <div class="card">
                            <div class="card-body">
                                <div class="user-avatar text-center d-block">
                                    <img src="assets/images/avatar-1.jpg" alt="User Avatar" class="rounded-circle user-avatar-xxl">
                                </div>
                                <div class="text-center">
                                    <h2 class="font-24 mb-0">{{ user.name }}</h2>
                                    <p>{{ user.login }}</p>
                                </div>
                            </div>
                           <!-- <div class="card-body border-top">
                                <h3 class="font-16">Contact Information</h3>
                                <div class="">
                                    <ul class="list-unstyled mb-0">
                                        <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>michaelchristy@gmail.com</li>
                                        <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i>(900) 123 4567</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <h3 class="font-16">Rating</h3>
                                <h1 class="mb-0">4.8</h1>
                                <div class="rating-star">
                                    <i class="fa fa-fw fa-star"></i>
                                    <i class="fa fa-fw fa-star"></i>
                                    <i class="fa fa-fw fa-star"></i>
                                    <i class="fa fa-fw fa-star"></i>
                                    <i class="fa fa-fw fa-star"></i>
                                    <p class="d-inline-block text-dark">14 Reviews </p>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <h3 class="font-16">Social Channels</h3>
                                <div class="">
                                    <ul class="mb-0 list-unstyled">
                                        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-facebook-square mr-1 facebook-color"></i>fb.me/michaelchristy</a></li>
                                        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-twitter-square mr-1 twitter-color"></i>twitter.com/michaelchristy</a></li>
                                        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-instagram mr-1 instagram-color"></i>instagram.com/michaelchristy</a></li>
                                        <li class="mb-1"><a href="#"><i class="fas fa-fw fa-rss-square mr-1 rss-color"></i>michaelchristy.com/blog</a></li>
                                        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-pinterest-square mr-1 pinterest-color"></i>pinterest.com/michaelchristy</a></li>
                                        <li class="mb-1"><a href="#"><i class="fab fa-fw fa-youtube mr-1 youtube-color"></i>youtube/michaelchristy</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body border-top">
                                <h3 class="font-16">Category</h3>
                                <div>
                                    <a href="#" class="badge badge-light mr-1">Fitness</a><a href="#" class="badge badge-light mr-1">Life Style</a><a href="#" class="badge badge-light mr-1">Gym</a>
                                </div>
                            </div>-->
                        </div>
                        <!-- ============================================================== -->
                        <!-- end card profile -->
                        <!-- ============================================================== -->
                    </div>
                    <div class="row" >
                        <div class="col-xl-9 col-lg-12 col-md-6 col-sm-12 col-12" >
                            <div class="card" >

                                <div class="card-body p-0" >
                                    <div class="table-responsive" >
                                        <table class="table table-hover" >
                                            <thead class="bg-light" >
                                            <tr class="border-0" >
                                                <th class="border-0" >#</th >
                                                <th class="border-0" >Подразделение</th >
                                                <th class="border-0 text-center" >Может смотреть</th >
                                            </tr >
                                            </thead >
                                            <tbody >
                                           {% for department_item in depatments%}
                                            <tr class='link-inline' >

                                                <td > {{ loop.index }}</td >
                                                <td >
                                                    {{ department_item.department_name }}
                                                </td >
                                                <td class="text-center" >

                                                        <label>
                                                            <input type="checkbox" value="" id="check{{ department_item.id_department }}" {% if department_item.right  ==1 %}checked{% endif %}  onclick="setRight({% if department_item.right  ==1 %}false{% else %}true{% endif %},{{ department_item.id_department }},{{ user_id }})">

                                                        </label>

                                                </td >

                                                </a>
                                            </tr >
                                           {% endfor %}

                                            </tbody >
                                        </table >
                                    </div >
                                </div >
                            </div >
                        </div >

                     </div >
                     <div class="row" >
                         <!-- ============================================================== -->

                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->


                    </div >

                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer" >
            <div class="container-fluid" >
                <div class="row" >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        Copyright © 2018 Concept. All rights reserved. Dashboard by <a href="https://colorlib.com/wp/" >Colorlib</a >.
                    </div >
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12" >
                        <div class="text-md-right footer-links d-none d-sm-block" >
                            <a href="javascript: void(0);" >About</a >
                            <a href="javascript: void(0);" >Support</a >
                            <a href="javascript: void(0);" >Contact Us</a >
                        </div >
                    </div >
                </div >
            </div >
        </div >
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div >
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
</div >
<!-- ============================================================== -->
<!-- end main wrapper  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<!-- jquery 3.3.1 -->

<!-- bootstap bundle js -->
<script src="/dash/assets/vendor/bootstrap/js/bootstrap.bundle.js" ></script >
<!-- slimscroll js -->
<script src="/dash/assets/vendor/slimscroll/jquery.slimscroll.js" ></script >
<!-- main js -->
<script src="/dash/assets/libs/js/main-js.js" ></script >
<!-- chart chartist js -->
<script src="/dash/assets/vendor/charts/chartist-bundle/chartist.min.js" ></script >
<!-- sparkline js -->
<script src="/dash/assets/vendor/charts/sparkline/jquery.sparkline.js" ></script >
<!-- morris js -->
<script src="/dash/assets/vendor/charts/morris-bundle/raphael.min.js" ></script >
<script src="/dash/assets/vendor/charts/morris-bundle/morris.js" ></script >
<!-- chart c3 js -->
<script src="/dash/assets/vendor/charts/c3charts/c3.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/d3-5.4.0.min.js" ></script >
<script src="/dash/assets/vendor/charts/c3charts/C3chartjs.js" ></script >
<script src="/dash/assets/libs/js/dashboard-ecommerce.js" ></script >

<script type="application/javascript" >
        new Morris.Line({
            // ID of the element in which to draw the chart.
            element: 'myfirstchartK',
            // Chart data records -- each entry in this array corresponds to a point on
            // the chart.
            data: [
                {% for one_month in to_json %}
                    {
                        {% for str in one_month %}
                            {% for key, info_year in str %}
                                '{{ key }}':"{{ info_year }}",
                            {% endfor%}
                        {% endfor%}
                    },
                {% endfor%}]
            ,
            lineColors:['#a2b3bf','#5969ff', '#64b764'],
            trendLineColors:['#a2b3bf','#5969ff', '#64b764'],
            // The name of the data record attribute that contains x-values.
            xkey: 'month',
            // A list of names of data record attributes that contain y-values.
            ykeys: ['2018', '2019'],
            // Labels for the ykeys -- will be displayed when you hover over the
            // chart.
            labels: ['2018', '2019'],
            parseTime: false
    })
    function setRight(right,id_dep,user_id) {
        $.ajax({
            type: 'GET',
            url: '?path=admin/giveright',
            data: {"right": right,
                'id_dep':id_dep,
                'user_id':user_id
            },
            success: function(result) {
                if (right==true){
                    right = false;
                } else {
                    right = true;
                }
                $('#check'+id_dep).attr('onClick','setRight('+right+','+id_dep+','+user_id+')')
            }
        });

    }




</script >
</body >

</html >